html {
  background-color:white;
  color:black /* 텍스트컬러 */
}

.app-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-size: 14px;
  font-family: var(--font-NotoSerifKR);
}

.header-icons {
  display: flex;
  gap: 12px;
  margin-left: 310px; /* 아이콘들을 오른쪽으로 350px 이동 */
}

.header-button {
  background-color: white;
  border: none;
}